<div class="container">
    <header>
        <p ng-show="view == 'view'" class="ut-lead">Tenant-User Details</p>
        <p ng-show="view == 'edit'" class="ut-lead">Edit Tenant-User</p>
        <p ng-show="viewByTenant == 'view'" class="ut-lead">User Details</p>
        <p ng-show="viewByTenant == 'edit'" class="ut-lead">Edit User Details</p>
    </header>
    <div class="col-lg-8 col-md-8 ut-container">
        <form id="signupForm" class="form-horizontal ut-form ng-pristine ng-valid" role="form" name="signupForm" novalidate>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User Name</label>

                    <div class="col-sm-5">
                        <input placeholder="jhon" class="form-control" ng-model="account.username" ng-pattern="/^[a-zA-Z0-9]{3,20}$/" disabled required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-5">
                        <input placeholder="Jhon" type="text" class="form-control"
                               ng-model="account.firstName"
                               ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-5">
                        <input placeholder="Michael" type="text" class="form-control" ng-model="account.lastName"
                               ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-5">
                        <input type="email" placeholder="jhon@example.com" class="form-control" ng-model="account.email"
                            ng-minlength="5" maxlength="50" required>
                    </div>
                </div>
            </div>                
            <div ng-include="'app/views/common/audit_info.html'" ng-hide="view == 'create' || viewByTenant == 'create'"></div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-7 col-md-7">
                        <!-- Admin view -->
                        <!-- <button class="btn btn-info" ui-sref="tenantHome"> Back</button> -->
                        <button class="btn btn-primary" ng-show="view == 'edit'" ng-disabled="!signupForm.$valid" ng-click="updateUserAccount(account, signupForm.$valid)">Update</button>
                        <button class="btn btn-default" ng-show="view == 'edit' || view == 'create'" ng-click="confirmationModal(true)">Cancel</button>
                        <div ng-include="'app/views/common/confirmationDailogBox.html'"></div>
                        <button class="btn btn-primary" ng-show="view == 'view'"  ng-click="view = 'edit';">Edit</button>
                        <button class="btn btn-default" ng-show="view == 'view'" ui-sref="users">Cancel</button>
                        <!-- Tenant-Admin view -->
                        <button class="btn btn-primary" ng-show="viewByTenant == 'edit'" ng-disabled="!signupForm.$valid" ng-click="updatetenantUserAccountByTenant(account, signupForm.$valid)">Update</button>
                        <button class="btn btn-default" ng-show="viewByTenant == 'edit' || viewByTenant == 'create'" ng-click="confirmationModal()">Cancel</button>
                        <div ng-include="'app/views/common/confirmationDailogBox.html'"></div>
                        <button class="btn btn-primary" ng-show="viewByTenant == 'view'"  ng-click="viewByTenant = 'edit';">Edit</button>
                        <button class="btn btn-default" ng-show="viewByTenant == 'view'" ui-sref="tenantHome">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>