<div class="container"> 
  <div class="row ut-pageheader">
    <div class="ut-lead col-lg-10 col-md-10 ">Search Users</div>
    <div class="col-lg-2 col-md-2 pull-right">
      <span ng-hide="tenantInfo">
        <a class="btn btn-primary" ng-class="{'pull-right': checkPermission(0)}" ng-if="checkPermission(0)" ui-sref="createUser"><i class="fa fa-user"></i> New</a>
      </span>
      <span ng-hide="tenantView">
        <a class="btn btn-default" ng-if="checkPermission(7)" ng-controller="adminCtrl" ng-click="exportUserData()"><i class="fa fa-download"></i> Export</a>
      </span>
      <a class="btn btn-info pull-right" ng-show="tenantInfo" ui-sref="tenants"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
  </div>
  <div class="ut-container">
    <form name="searchForm">
      <div class="row"> 
        <div class="col-md-6 form-group">
          <label for="email" class="col-md-3 control-label">User Name</label>
          <div class="col-md-5">
              <input class="form-control" placeholder="" name="srchname" type="text" ng-model="srch.username">
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-5">
              <input class="form-control" placeholder="" name="srchmail" type="text" ng-model="srch.email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="firstName" class="col-md-3 control-label">First Name</label>
            <div class="col-md-5">
                <input class="form-control" type="text" name="srchfn" ng-model="srch.firstName">           
            </div>                    
        </div>
        <div class="col-md-6 form-group">
          <label for="lastName" class="col-md-3 control-label">Last Name</label>
          <div class="col-md-5">
              <input class="form-control" type="text" name="srchln" ng-model="srch.lastName">
          </div>                  
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6 form-group">
          <label for="scope" class="col-md-3 control-label">User Role(s)</label>
          <div class="col-md-5">
          <div ng-dropdown-multiselect="" options="rolesList" selected-model="srch.scope" extra-settings="multiSelectText" ></div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="isActive" class="col-md-3 control-label">Active</label>
          <div class="col-md-3">
              <select class="form-control" placeholder="" name="srchstatus" type="text" ng-model="srch.isActive">
                  <option value="">Select</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
              </select> 
          </div>
        </div>
      </div>
      <div class="row" ng-hide="tenantView">
        <div class="col-md-6 form-group" >
          <label for="tenantName" class="col-md-3 control-label">Tenant</label>
          <div class="col-md-5">
            <input class="form-control" placeholder="" type="text" ng-model="srch.tenantName" typeahead="res as res.name+ res.comma + (res.desc | limitTo:10) for res in searchTenantByName($viewValue)" typeahead-wait-ms="1000" />
          </div>
          <button class="btn btn-primary btn-sm" ng-click="searchModal()"><i class="fa fa-search"></i></button>
          <div ng-include="'app/views/tenant/search_tenants.html'"></div>
        </div>
      </div>
      <div class="pull-right">
        <span ng-if="!tenantView">
          <button class="btn btn-primary" type="submit" ng-if="checkPermission(1)" 
        ng-click="searchTenantUser(srch)">Search</button>
        </span>
        <span ng-if="tenantView">
          <button class="btn btn-primary" type="submit" ng-if="checkPermission(13)" ng-click="searchTenantUser(srch)">Search</button>
        </span>
        <button class="btn btn-primary" ng-click="resetForm()">Reset</button>
      </div>
    </form>

    <div ng-show="showUserResult">
        <div class="col-lg-12 col-md-12" ng-show="resultList.length==0">
          <div class="row">
            <h3>Sorry, search returned <b>0</b> results</h3>
          </div>
        </div>
        <div class="col-lg-12 col-md-12" ng-show="filteredItems.length!==0" >
          <div class="row">
            <h4>Search results - <b>{{filteredItems.length}}</b> Users</h4>
          </div>
          <div class="row">
          <table class="table" cellspacing="0">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Role(s)</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr class="ut-pointer" ng-repeat="usr in pagedItems[currentPage] | orderBy: 'username'" >
                  <td>{{usr.username}}</td>
                  <td>{{usr.email}}</td>
                  <td>{{usr.firstName}}</td>
                  <td>{{usr.lastName}}</td>
                  <td>
                    <span ng-repeat="role in usr.scope">
                      {{role}} <i ng-hide="$last">, </i>
                    </span>
                  </td>
                  <td>{{usr.isActive}}</td>
                  <td >
                    <span ng-hide="usr.username == user.username">
                      <span ng-hide="tenantInfo">
                        <a type="button" ui-sref="userEdit({uname:usr.username})" 
                        class="btn btn-primary btn-md" 
                        data-toggle="tooltip" data-placement="top" title="Modify user information">
                          <span class="fa fa-edit"></span>
                        </a>
                        <button type="button" ng-if="checkPermission(5) && usr.isActive == true" 
                        ng-click="deactivateTenantUser(usr._id, usr.tenantId)" 
                        class="btn btn-warning btn-md" data-toggle="tooltip" data-placement="top" title="Deactivate user account">
                          <span class="fa fa-user-times"></span>
                        </button>
                        <button type="button" ng-if="checkPermission(4) && usr.isActive == false " 
                        ng-click="activateTenantUser(usr._id, usr.tenantId)" 
                        class="btn btn-warning btn-md" data-toggle="tooltip" data-placement="top" title="Activate user account">
                          <span class="fa fa-user-plus"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-md" 
                        ng-if="checkPermission(6)"
                        ng-click="deleteUserAccount(usr._id, usr.tenantId)" 
                        data-toggle="tooltip" data-placement="top" 
                        title="Delete user account">
                          <span class="fa fa-trash"></span>
                        </button>
                      </span>
                    </span>
                  </td>
              </tr>  
            </tbody>
            <tfoot>
              <td colspan="8">
                <div class="pagination pull-right">
                  <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                  </li>
                  <li ng-repeat="n in range(pagedItems.length)"
                       ng-class="{active: n == currentPage}"
                       ng-click="setPage()">
                    <a href ng-show="n >= min && n < max" ng-bind="n + 1">1</a>
                  </li>
                  <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                  </li>
                </div>
             </td>
            </tfoot>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>
<ui-view></ui-view>