<div class="container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
            <a class="navbar-brand-1 block m-t" href="javascript:void(0)">
                <img src="app/assets/img/jclogo.png">
            </a>
            <form name="signUpForm" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading text-center font-bold">
                        Company Registration
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Company Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       ng-model="account.tenant.name" ng-pattern="/^[a-zA-Z_ ]{2,30}$/"  required name="tenantName" placeholder="Company Name" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>

                            <div class="col-sm-9">
                                <textarea class="form-control" 
                                placeholder="Description" ng-model="account.tenant.description" ng-pattern="/^[a-zA-Z_ ]{2,30}$/" name="tenantDesc"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">
                                <input type="email" placeholder="Email" class="form-control" ng-model="account.user.email" ng-minlength="5" maxlength="50"
                                required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Name</label>

                            <div class="col-sm-9">
                                <input placeholder="User Name" class="form-control" ng-model="account.user.username"
                                       ng-pattern="/^[a-zA-Z0-9]{3,20}$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>

                            <div class="col-sm-9">
                                <input placeholder="First Name" type="text" class="form-control"
                                       ng-model="account.user.firstName"
                                       ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>

                            <div class="col-sm-9">
                                <input placeholder="Last Name" type="text" class="form-control" ng-model="account.user.lastName"
                                       ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       ng-model="account.user.password" ng-minlength="5" maxlength="50" required
                                       data-ng-class="{'ng-invalid':signUpForm.confirmPassword.$error.match}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       ng-model="account.user.passwordConfirm" required  data-match="account.user.password"
                                       name="confirmPassword">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3 checkbox m-b-md m-t-none">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="agree" required /><span> Agree the <a>terms and
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-primary btn-block ut-btn" ng-click="tenantSelfRegistration(account)"
                                ng-disabled='signUpForm.$invalid'>Sign up
                        </button>
                        <div class="line line-dashed"></div>
                        <p class="text-center">
                            <small>Already have an account?</small>
                        </p>
                        <a ui-sref="login" class="btn btn-default btn-block ut-btn">Sign in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
