<div class="container">
	<header>
      <p class="ut-lead">Change Password</p>
  </header>
  <div class="col-lg-8 col-md-8 ut-container">
      <form id="profileForm" class="form-horizontal ut-form form-validation" role="form" name="profileForm">
          <div class="row">
              <div class="form-group">
                  <label class="col-sm-3 control-label">Old Password</label>
                  <div class="col-sm-5">
                      <input type="password" class="form-control" 
                      placeholder="******" ng-minlength="5" maxlength="50"
                      ng-model="account.password"  name="confirmPassword"
                      ng-click="isChanged = true" required>
                  </div>
              </div>
          </div>
          <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control"
                               ng-model="account.newpassword" name="newPassword"
                               ng-minlength="5" maxlength="50" placeholder="******"
                               data-ng-class="{'ng-invalid':profileForm.confirmPassword.$error.match}" ng-click="isChanged = true"
                               required>
                    </div>
                </div>
            </div>
            <div class="row">
	              <div class="form-group">
	                  <label class="col-sm-3 control-label">Confirm Password</label>
	                  <div class="col-sm-5">
	                      <input type="password" class="form-control" 
	                      name="confirmPassword" ng-model="account.cnfpassword" 
	                      ng-minlength="5" maxlength="50" placeholder="******"
	                      data-match="account.newpassword" ng-click="isChanged = true">
	                  </div>
	              </div>
            </div>
            <div class="row">
                <div class="">
                    <button class="btn btn-primary" ng-click="changePassword(account)">Submit</button>
                    <button class="btn btn-default" ng-show="!isChanged" ui-sref="home"><i class="fa fa-arrow-left"></i> Back</button>
                    <button class="btn btn-default" ng-show="isChanged" ng-click="confirmationModal()">Cancel</button>
                    <div ng-include="'app/views/common/confirmationDailogBox.html'"></div>
                </div>
            </div>
      </form>
    </div>
</div>