<nav class="navbar navbar-default" ng-show="user">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a ui-sref="home">
        <img src="app/assets/img/jclogo.png" style="height: 1.5em; margin-top: 1.00em; margin-bottom: 0.75em;">
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right" ng-show="user">
        <li class="dropdown" ng-show="user.scope == 'Tenant-Admin' || user.scope == 'User'"><span class="ut-nohover"><i class="fa fa-building"></i> {{current_usr.tenantName | uppercase}}</span></li>
        <li class="dropdown" ng-controller="accountCtrl" >
          <a class="dropdown-toggle ut-pointer" data-toggle="dropdown" >
              <span>{{current_usr.firstName}} {{current_usr.lastName}} </span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="editProfile" class="ut-pointer"><i class="fa fa-fw fa-user"></i> Profile</a></li>
            <!-- <li><a ui-sref="tenantHome" class="ut-pointer" ng-show="user.scope == 'Tenant-Admin'"><i class="fa fa-fw fa-users"></i> Users</a></li> -->
            <li><a ng-click="logOut()" class="ut-pointer"><i class="fa fa-fw fa-sign-out"></i> Log Off</a></li>
            <!-- <li class="divider"></li>
            <li class="dropdown-header">Language</li>
            <li class="active"><a href="#">English</a></li> -->
            <!-- <li><a href="#">Deutsch</a></li> -->
          </ul>
        </li> 
        <li class="dropdown" ng-show="user.scope == 'Admin' || user.scope == 'Tenant-Admin'">
          <a class="icon-nav-item dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cogs fa-1x"></span>  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header"><b>Roles</b></li>
            <li class="divider"></li>
            <li><a class="ut-pointer" ui-sref="users">User</a></li>
            <li><a class="ut-pointer" ui-sref="tenants" ng-show="user.scope == 'Admin'">Tenant</a></li>
          </ul>
        </li> 
      </ul>
  </div><!-- container-fluid-->
</nav>
