<div class="container">
	<div class="ut-container">
		<div class="row">
			<div class="col-md-3">
				<div class="well ut-content-center">
					<span class="ut-">Products</span>
					<p class="ut-wp-number">96</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well ut-content-center">
					<span class="text-center">Products classified in "jCatalog Demo"</span>
					<p class="ut-wp-number">15</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
				  <div class="panel-heading">Status</div>
					  <div class="panel-body">
						  <div class="col-md-7">
						   <div class="ut-wp-circle">
						   	<p class="ut-wp-circle-p">100%</p>
						   </div>
						  </div>
						  <div class="col-md-5">
							  <div class="ut-wp-circle-label"><span></span></div>
							  <div class="ut-wp-status">  Confirmed</div>
						  </div>
						 </div>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">Quality Overview</div>
					  <div class="panel-body">
					   <table class="table">
						    <thead class="ut-wp-th ">
							    <tr>
							      <th><b>Metric</b></th>
						        <th title="Equipment">Equipment</th>
						        <th title="Service">Service</th>
						        <th title="Tablet">Tablet</th>
							    </tr>
						    </thead>
						    <tbody>
							    <tr>
							      <td>Products</td>
							        <td>2</td>
							        <td>3</td>
							        <td>10</td>
							    </tr>
							    <tr>
							      <td>With long description</td>
							      <td>
						          1 <i>(50.0%)</i>
						        </td>
						        <td>
						          3 <i>(100.0%)</i>
						        </td>
						        <td>
						          6 <i>(60.0%)</i>
						        </td>
						    </tr>
						    <tr>
						      <td>Long descriptions different to short description</td>
						        <td>
						          2 <i>(100.0%)</i>
						        </td>
						        <td>
						          3 <i>(100.0%)</i>
						        </td>
						        <td>
						          6 <i>(60.0%)</i>
						        </td>
						    </tr>
						    <tr>
						      <td>With EAN</td>
						        <td>
						          2 <i>(100.0%)</i>
						        </td>
						        <td>
						          0 <i>(0.0%)</i>
						        </td>
						        <td>
						          10 <i>(100.0%)</i>
						        </td>
						    </tr>
						    <tr>
						      <td>With DocumentNormal</td>
						        <td>
						          0 <i>(0.0%)</i>
						        </td>
						        <td>
						          0 <i>(0.0%)</i>
						        </td>
						        <td>
						          10 <i>(100.0%)</i>
						        </td>
						    </tr>
						    <tr>
						      <td>With Price</td>
						        <td>
						          0 <i>(0.0%)</i>
						        </td>
						        <td>
						          3 <i>(100.0%)</i>
						        </td>
						        <td>
						          10 <i>(100.0%)</i>
						        </td>
						    	</tr>
						    </tbody>
						  </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
