<div class="container w-xxl w-auto-xs">
  <a class="navbar-brand-1 block m-t">
      <img src="app/assets/img/jclogo.png">
  </a>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" ng-if="aMsg.id == 1">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <p>Success! {{aMsg.name}} has successfully registered. An email has sent to your registered email address containing the instructions to verify your account. </p>
      </div>
      <div class="alert alert-success" role="alert" ng-if="aMsg.id == 2">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <p>Success! An email has sent to your registered email address. </p>
      </div>
    </div>
  </div>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="User Name" class="form-control no-border" ng-model="credentials.username" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="credentials.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login(credentials)" ng-disabled='form.$invalid'>Sign in</button>
      <div class="text-center m-t m-b"><a class="ut-pointer ut-fp" ui-sref="forgotPassword">Forgot password?</a></div>
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Do not have an account?</small></p>
      <a ui-sref="tenantSignup" class="btn btn-lg btn-default btn-block ut-btn">Company Registration</a>
      <a ui-sref="tenantUserSignup" class="btn btn-lg btn-default btn-block ut-btn">User Registration</a>
    </form>
  </div>
</div>