<div class="container w-xxl w-auto-xs">
  <a class="navbar-brand-1 block m-t">
      <img src="app/assets/img/jclogo.png" class="img-circle">
  </a>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="User Name" class="form-control no-border" ng-model="credentials.username" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="credentials.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login(credentials)" ng-disabled='form.$invalid'>Log in</button>
      <div class="text-center m-t m-b"><a class="ut-pointer ut-fp" ui-sref="forgotPassword">Forgot password?</a></div>
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Do not have an account?</small></p>
      <a ui-sref="tenantSignup" class="btn btn-lg btn-default btn-block ut-btn">Register your Company account</a>
      <a ui-sref="tenantUserSignup" class="btn btn-lg btn-default btn-block ut-btn">Register a user account</a>
    </form>
  </div>
</div>