<div class="container">
    <header>
        <p ng-show="profileView == 'view'" class="ut-lead">Profile Information</p>
        <p ng-show="profileView == 'edit'" class="ut-lead">Edit Profile Information</p>
    </header>
    <div class="col-lg-8 col-md-8 ut-container">
        <form id="profileForm" class="form-horizontal ut-form ng-pristine ng-valid" role="form" name="profileForm" novalidate>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <input placeholder="jhon" class="form-control" ng-model="account.username"
                                       ng-pattern="/^[a-zA-Z0-9]{3,20}$/" required>
                            </div>
                            <div class="col-md-5 ut-pointer" >
                                <a ng-hide="setPassword" ng-click="setPassword = true">Change password?</a>
                                <a ng-show="setPassword" ng-click="setPassword = false">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-show="profileView == 'edit' && setPassword == true">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-5">
                            <input type="password" class="form-control"
                                   ng-model="account.password" ng-minlength="5" maxlength="50" required
                                   data-ng-class="{'ng-invalid':signUpForm.confirmPassword.$error.match}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-5">
                        <input placeholder="Jhon" type="text" class="form-control"
                               ng-model="account.firstName"
                               ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-5">
                        <input placeholder="Michael" type="text" class="form-control" ng-model="account.lastName"
                               ng-pattern="/^[a-zA-Z]{3,20}$/" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-5">
                        <input type="email" placeholder="jhon@example.com" class="form-control" ng-model="account.email" ng-minlength="5" maxlength="50"
                        required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ut-acc-form-group ">
                    <div class="col-lg-6 col-md-6">
                        <accordion close-others="oneAtATime">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                   Login Info <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                <div class="row panel-row-space">
                                    <div class="col-lg-4 col-md-4">
                                      <div>First login</div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                      <div>{{account.firstLogin |  date:'dd.MM.yy h:mma'}}</div>
                                    </div>
                                </div>
                                <div class="row panel-row-space">
                                    <div class="col-lg-4 col-md-4">
                                      <div>Last login</div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                      <div>{{account.lastLogin |  date:'dd.MM.yy h:mma'}}</div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div ng-include="'app/views/common/audit_info.html'"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-lg-offset-7 col-md-offset-7">
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-show="profileView == 'edit'" ng-disabled="!profileForm.$valid" ng-click="updateProfile(account, profileForm.$valid)">Update</button>
                        <button class="btn btn-default" ng-show="profileView == 'edit'" ng-click="confirmationModal()">Cancel</button>
                        <div ng-include="'app/views/common/confirmationDailogBox.html'"></div>
                        <button class="btn btn-primary" ng-show="profileView == 'view'"  ng-click="profileView = 'edit';">Edit</button>
                        <button class="btn btn-default" ng-show="profileView == 'view' && user.scope == 'Admin'" ui-sref="tenants">Cancel</button>
                        <button class="btn btn-default" ng-show="profileView == 'view' && user.scope == 'Tenant-Admin'" ui-sref="tenantHome">Cancel</button>
                        <button class="btn btn-default" ng-show="profileView == 'view' && user.scope == 'Tenant-User'" ui-sref="home">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>
