<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a ui-sref="login">
        <img src="app/assets/img/jCatalog-header-logo.gif" style="margin-top: 0.50em;">
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="well">jCatalog is responsible for the topicality, correctness, completeness or quality of the information provided. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect, will therefore be rejected. All offers are not-binding and without obligation. Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.</p>
      <div><a class="btn btn-primary" ui-sref="login">Go to Sign in</a></div>
    </div>
  </div>
</div>