<div class="container" >
  <header>
    <p class="ut-lead">Search Tenants</p>
  </header>  
  <section class="row">
    <div class="col-md-4 col-md-offset-8" style="margin-bottom: 70px; margin-top: -50px;">
      <a ui-sref="createTenant" class="btn btn-primary pull-right" >Add New</a>
    </div>
    <hr>
    <hr>        
    <div class="col-md-6 form-group">
      
        <label class="col-sm-3 control-label">Tenant Id</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input class="form-control" type="text" ng-model="srch.tenantId">
          </div>              
        </div>                    
    </div>
    <div class="col-md-6 form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="srch.name">
        </div>
      </div>                  
    </div>
  </section>
  <section class="row">
    <div class="col-md-6 form-group">
      <label for="" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" placeholder="" type="text" ng-model="srch.description">
        </div> 
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="" class="col-sm-3 control-label">Status</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" placeholder="" type="text" ng-model="srch.status">
        </div>
      </div>
    </div>
  </section>
    
  <div class="pull-right">
    <input name="" value="Search" class="btn btn-primary" type="submit" ng-click="searchTenant(srch)">
  </div>
  <div >
    <div ng-show="showResult == true" >
      <div class="col-lg-12 col-md-12" ng-show="resultList.length==0">
        <div class="row">
          <h3>Sorry, search returned <b>0</b> results</h3>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" ng-show="filteredItems.length!==0" ng-show="showResult">
        <div class="row">
          <h4>Search results - <b>{{filteredItems.length}}</b> Tenants</h4>
        </div>
        <div class="row">
        <table class="table" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Tenant Id</th>
              <th>Name</th>
              <th>Status</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="ut-pointer" ng-repeat="tenant in pagedItems[currentPage]" ng-click="getTenant(tenant._id)">
              {{tenant.tenantId}}
              <td>{{$index+1}}
              </td>
              <td>{{tenant.tenantId}}</td>
              <td>{{tenant.name}}</td>
              <td>{{tenant.status}}</td>
              <td>{{tenant.description}}</td>
              <td>
                <button type="button" class="btn btn-default btn-sm">
                  <span class="fa fa-pencil"></span> Edit</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="6">
              <div class="pagination pull-right">
                 <ul>
                   <li ng-class="{disabled: currentPage == 0}">
                     <a href ng-click="prevPage()">« Prev</a>
                   </li>
                   <li ng-repeat="n in range(pagedItems.length)"
                       ng-class="{active: n == currentPage}"
                       ng-click="setPage()">
                     <a href ng-bind="n + 1">1</a>
                   </li>
                   <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                     <a href ng-click="nextPage()">Next »</a>
                   </li>
                 </ul>
                </div>
           </td>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>