<div class="container">
    <header>
        <p ng-show="view == 'view'" class="ut-lead">Tenant Details</p>
        <p ng-show="view == 'edit'" class="ut-lead">Edit Tenant Details</p>
    </header>
    <div class="col-lg-8 col-md-8 ut-container">
        <form id="tenantForm" class="form-horizontal ut-form form-validation" role="form" name="tenantForm" >
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tenant Name</label>

                    <div class="col-sm-5">
                        <input placeholder="jhon" class="form-control" ng-model="account.name" ng-pattern="/^[a-zA-Z0-9]{2,30}$/" 
                        ng-disacled="view == 'view'" ng-click="isChanged = true"required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tenant Description</label>

                    <div class="col-sm-5">
                        <textarea placeholder="Jhon" type="text" 
                        class="form-control" ng-model="account.description"
                        ng-disacled="view == 'view'"
                        ng-pattern="/^[a-zA-Z_ ]{2,30}$/" ng-click="isChanged = true"
                       ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12">
                        <button class="btn btn-primary" ng-show="view == 'edit'" ng-disabled="!tenantForm.$valid" ng-click="updateTenantAccount(account, tenantForm.$valid)">Update</button>
                        <button class="btn btn-default" ng-show="view == 'edit' 
                        && isChanged" ng-click="confirmationModal()">Cancel</button>
                        
                        <button class="btn btn-primary" ng-show="view == 'view'"  ng-click="view = 'edit';isChanged = false">Edit</button>
                        <button class="btn btn-default" ng-show="!isChanged" ui-sref="tenants">Cancel</button>
                        <div ng-include="'app/views/common/confirmationDailogBox.html'"></div>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>