<div class="container">
	<p class="ut-lead">Tenant Users</p>
  <div class="col-md-4 col-md-offset-8 ut-addbutton">
    <a ui-sref="createTenantUser" class="btn btn-primary pull-right"><i class="fa fa-user-plus"></i> Add</a>
  </div>      
  <div class="ut-container">
  	<div class="col-lg-12 col-md-12">
    <div ng-show="pagedItems.length == 0">
      <h4>There are no tenant users</h4>
    </div>
      <table class="table" cellspacing="0" ng-show="pagedItems.length > 0">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Id</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr class="ut-pointer" ng-repeat="user in pagedItems[currentPage]" ng-click="getTenantUser(user._id)">
                  <td>{{$index+1}}
                  </td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.userId}}</td>
                  <td>
                    <button type="button" ng-click="rem_tenant(user._id,$index)" class="btn btn-default btn-md">
                      <span class="fa fa-pencil"></span> Edit</button>
                  </td>
              </tr>
              
            </tbody>
            <tfoot>
              <td colspan="6">
                <div class="pagination pull-right">
                  <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                  </li>
                  <li ng-repeat="n in range(pagedItems.length)"
                       ng-class="{active: n == currentPage}"
                       ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                  </li>
                  <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                  </li>
                </div>
             </td>
            </tfoot>
          </table> 
      </div>
    </div>
</div>