/*
*** Custom css
*/
.ut-container{
	margin-top: 20px;
	margin-bottom: 60px;
}
.ut-title {
	font-size: 20px;
}
.ut-link {
	color: blue;
	cursor: pointer;
}
.error{
	color: red;
}
.ut-pointer {
	 cursor: pointer;
}
.ut-lead {
	font-size: 25px;
}
.ut-button-set {
	margin-top: 10px;
}

.ut-search-result {
	margin-top: 15px;
}
.ut-sub-heading {
	font-size: 19px; 
}
.ut-addbutton {
	margin-bottom: 70px; 
	margin-top: -50px;
}

