/*
*** Custom css
*/
.ut-container{
	margin-top: 20px;
	margin-bottom: 150px;
}
.ut-title {
	font-size: 20px;
}
.ut-link {
	color: blue;
	cursor: pointer;
}
.error{
	color: red;
}
.ut-pointer {
	 cursor: pointer;
}
.ut-lead {
	font-size: 25px;
}
.ut-button-set {
	margin-top: 10px;
}

.ut-search-btnset {
	margin-top: 15px;
  margin-bottom: 25px;
}
.ut-search-result {
	margin-top: 15px;
}
.ut-sub-heading {
	 font-size: 1.5em;
	 margin-bottom: 25px;
}
.ut-pageheader {
	margin-top: 20px; 
	margin-bottom: 50px; 
}
.ut-control-label {
	color: black;
}
.ut-userId-control {
	width: 214px;
}
.panel-row-space {
  margin-bottom: 10px;
}
.ut-acc-row { 
	margin-top: 30px;
}
.ut-acc-form-group {
	margin-left: -15px;
}
.ut-fp, .ut-fp:hover{
	color: black;
	text-decoration: none;
}
.ut-nohover {
  color: #333;
  background-color: transparent;
  padding-top: 15px;
  display: block;
}
.ut-login-block {
	padding-top: 20px;
}
.ut-status-btn {
	width: 115px;
  text-align: left;
}
.ut-footer {
	margin-top: 60px;
}

/*welcome page*/
.ut-wp-number {
  font-weight: bold;
  display: block;
  font-size: 4.75em;
  color: #666;
  padding: 10px 0;
  line-height: 1.1em;
 }
.ut-content-center {
	text-align: center;
}
.ut-wp-circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background: green;
}
.ut-wp-th {
	background:rgb(245, 244, 244);
}
.ut-wp-circle-p {
	padding: 85px;
	color: white;
}
.ut-wp-circle-label {
	margin-top: 10px;
	height: 10px;
	width: 10px;
	background: green;
}
.ut-wp-status {
	margin-top: -15px;
	margin-left: 15px;
}
/*modified css*/
.form-horizontal .control-label {
  text-align: left;
  color: #888;
}


